<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"
        integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>全球斗數曆</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but Vuexy - Vuejs Admin Dashboard Template doesn't work properly without JavaScript enabled.
            Please
            enable it to continue.</strong>
    </noscript>
    <div id="app">
        <b-card header="全球斗數曆" header-bg-variant="info" class="m-3 border">
            <b-form-group class="p-2" id="city-picker" label="城市:" label-for="city-picker" description="請輸入目標城市">
                <b-form-select v-model="form.city" :options="cityList"></b-form-select>
                {{ form.city }}
            </b-form-group>
            <b-form-group class="p-2" id="taiwan-datepicker" label="日期:" label-for="taiwan-datepicker"
                description="請輸入日期"> {{ form.date }}
                <b-form-datepicker id="taiwan-datepicker" v-model="form.date" class="mb-2" size="lg" locale="zh-TW" />

            </b-form-group>
            <b-form-group class="p-2" id="taiwan-timepicker" label="時間:" label-for="taiwan-datepicker"
                description="請輸入時間"> {{ form.time }}
                <b-form-timepicker id="taiwan-timepicker" v-model="form.time" locale="zh-TW" size="lg" />

            </b-form-group>
            <b-row>
                <b-col class="text-center">
                    <b-button variant="primary" size="lg" @click="query">查詢 <b-spinner v-if="spinning" variant="primary"
                            label="Spinning"></b-spinner>
                    </b-button>
                    </b-button>
                </b-col>
            </b-row>
        </b-card>
        <b-card header="查詢結果" header-bg-variant="info" class="m-3 border" v-if="show">
            <b-form-group class="p-2" id="city-picker" label="年柱:">
                <b-form-input v-model="result.year" />
            </b-form-group>
            <b-form-group class="p-2" id="city-picker" label="月柱:">
                <b-form-input v-model="result.month" />
            </b-form-group>
            <b-form-group class="p-2" id="city-picker" label="日柱:">
                <b-form-input v-model="result.day" />
            </b-form-group>
            <b-form-group class="p-2" id="city-picker" label="時柱:">
                <b-form-input v-model="result.time" />
            </b-form-group>
        </b-card>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                form: {
                    city: null,
                    time: "",
                    name: "test",
                    checked: true
                },
                spinning: false,
                cityList: [
                    { value: null, text: '請選擇一個城市' },
                    { value: "121e33", text: '上海' },
                    { value: "2e328", text: '巴黎' },
                    { value: "12e570", text: '羅馬' },
                    { value: "0w127", text: '倫敦' },
                    { value: "144e565", text: '墨爾本' },
                    { value: "74w006", text: '紐約' },
                ],
                show: false,
                result: {
                    year: "",
                    month: "",
                    day: "",
                    time: ""
                }
            };
        },
        computed: {},
        methods: {
            async query() {
                this.spinning = true;
                this.show = false;
                let dateParts = this.form.date.split("-");
                let timeParts = this.form.time.split(":");
                let params = {
                    query_longitude: this.form.city,
                    year: parseInt(dateParts[0]),
                    month: parseInt(dateParts[1]),
                    day: parseInt(dateParts[2]),
                    hour: parseInt(timeParts[0]),
                    minute: parseInt(timeParts[1]),
                    second: parseInt(timeParts[2])
                };
                console.log(params);
                try {
                    const resp = await axios.get("http://45.79.103.226:8080/lcal/", { params });
                    this.show = true;
                    this.spinning = false;
                    if (resp.status === 200) {
                        const ret = resp.data;
                        console.log(ret);
                        this.show = true;
                        this.result.year = ret.cal_lyear_sign;
                        this.result.month = ret.cal_lmonth_sign;
                        this.result.day = ret.cal_lday_sign;
                        this.result.time = ret.cal_ltime_sign;
                    }
                } catch (err) {
                    throw new Error("Failed to get result" + err);
                }
            }
        },
    });
</script>

</html>